<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bklkj.dao.WithdrawalschannelMapper">
	<resultMap id="BaseResultMap" type="com.bklkj.pojo.Withdrawalschannel">
		<id column="WithdrawalsChannelId" property="withdrawalschannelid"
			jdbcType="INTEGER" />
		<result column="WithdrawalsChannelName" property="withdrawalschannelname"
			jdbcType="VARCHAR" />
	</resultMap>
	<sql id="Example_Where_Clause">
		<where>
			<foreach collection="oredCriteria" item="criteria" separator="or">
				<if test="criteria.valid">
					<trim prefix="(" suffix=")" prefixOverrides="and">
						<foreach collection="criteria.criteria" item="criterion">
							<choose>
								<when test="criterion.noValue">
									and ${criterion.condition}
								</when>
								<when test="criterion.singleValue">
									and ${criterion.condition} #{criterion.value}
								</when>
								<when test="criterion.betweenValue">
									and ${criterion.condition} #{criterion.value} and
									#{criterion.secondValue}
								</when>
								<when test="criterion.listValue">
									and ${criterion.condition}
									<foreach collection="criterion.value" item="listItem"
										open="(" close=")" separator=",">
										#{listItem}
									</foreach>
								</when>
							</choose>
						</foreach>
					</trim>
				</if>
			</foreach>
		</where>
	</sql>
	<sql id="Update_By_Example_Where_Clause">
		<where>
			<foreach collection="example.oredCriteria" item="criteria"
				separator="or">
				<if test="criteria.valid">
					<trim prefix="(" suffix=")" prefixOverrides="and">
						<foreach collection="criteria.criteria" item="criterion">
							<choose>
								<when test="criterion.noValue">
									and ${criterion.condition}
								</when>
								<when test="criterion.singleValue">
									and ${criterion.condition} #{criterion.value}
								</when>
								<when test="criterion.betweenValue">
									and ${criterion.condition} #{criterion.value} and
									#{criterion.secondValue}
								</when>
								<when test="criterion.listValue">
									and ${criterion.condition}
									<foreach collection="criterion.value" item="listItem"
										open="(" close=")" separator=",">
										#{listItem}
									</foreach>
								</when>
							</choose>
						</foreach>
					</trim>
				</if>
			</foreach>
		</where>
	</sql>
	<sql id="Base_Column_List">
		WithdrawalsChannelId, WithdrawalsChannelName
	</sql>
	<select id="selectByExample" resultMap="BaseResultMap"
		parameterType="com.bklkj.pojo.WithdrawalschannelExample">
		select
		<if test="distinct">
			distinct
		</if>
		<include refid="Base_Column_List" />
		from withdrawalschannel
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
		<if test="orderByClause != null">
			order by ${orderByClause}
		</if>
	</select>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from withdrawalschannel
		where WithdrawalsChannelId = #{withdrawalschannelid,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from withdrawalschannel
		where WithdrawalsChannelId = #{withdrawalschannelid,jdbcType=INTEGER}
	</delete>
	<delete id="deleteByExample" parameterType="com.bklkj.pojo.WithdrawalschannelExample">
		delete from withdrawalschannel
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
	</delete>
	<insert id="insert" parameterType="com.bklkj.pojo.Withdrawalschannel">
		insert into withdrawalschannel (WithdrawalsChannelId,
		WithdrawalsChannelName
		)
		values (#{withdrawalschannelid,jdbcType=INTEGER},
		#{withdrawalschannelname,jdbcType=VARCHAR}
		)
	</insert>
	<insert id="insertSelective" parameterType="com.bklkj.pojo.Withdrawalschannel">
		insert into withdrawalschannel
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="withdrawalschannelid != null">
				WithdrawalsChannelId,
			</if>
			<if test="withdrawalschannelname != null">
				WithdrawalsChannelName,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="withdrawalschannelid != null">
				#{withdrawalschannelid,jdbcType=INTEGER},
			</if>
			<if test="withdrawalschannelname != null">
				#{withdrawalschannelname,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<select id="countByExample" parameterType="com.bklkj.pojo.WithdrawalschannelExample"
		resultType="java.lang.Integer">
		select count(*) from withdrawalschannel
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
	</select>
	<update id="updateByExampleSelective" parameterType="map">
		update withdrawalschannel
		<set>
			<if test="record.withdrawalschannelid != null">
				WithdrawalsChannelId =
				#{record.withdrawalschannelid,jdbcType=INTEGER},
			</if>
			<if test="record.withdrawalschannelname != null">
				WithdrawalsChannelName =
				#{record.withdrawalschannelname,jdbcType=VARCHAR},
			</if>
		</set>
		<if test="_parameter != null">
			<include refid="Update_By_Example_Where_Clause" />
		</if>
	</update>
	<update id="updateByExample" parameterType="map">
		update withdrawalschannel
		set WithdrawalsChannelId =
		#{record.withdrawalschannelid,jdbcType=INTEGER},
		WithdrawalsChannelName =
		#{record.withdrawalschannelname,jdbcType=VARCHAR}
		<if test="_parameter != null">
			<include refid="Update_By_Example_Where_Clause" />
		</if>
	</update>
	<update id="updateByPrimaryKeySelective" parameterType="com.bklkj.pojo.Withdrawalschannel">
		update withdrawalschannel
		<set>
			<if test="withdrawalschannelname != null">
				WithdrawalsChannelName = #{withdrawalschannelname,jdbcType=VARCHAR},
			</if>
		</set>
		where WithdrawalsChannelId = #{withdrawalschannelid,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.bklkj.pojo.Withdrawalschannel">
		update withdrawalschannel
		set WithdrawalsChannelName = #{withdrawalschannelname,jdbcType=VARCHAR}
		where WithdrawalsChannelId = #{withdrawalschannelid,jdbcType=INTEGER}
	</update>

</mapper>